{% load staticfiles %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Attack Club 2 Portal.</title>
    <!-- BootstrapのCSS読み込み -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/starter-template.css' %}" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          </button>
          <a class="navbar-brand" href="{% url 'portal:mainpage' %}">AC-2</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'portal:mainpage' %}">Home</a></li>
            {% if request.user.is_authenticated %}
              <li><a href="{% url 'portal:vmlist' %}">VM list</a></li>
              <li><a href="{% url 'portal:deploy' %}">Deploy</a></li>
              <li><a href="{% url 'portal:logout' %}">Signout</a></li>
            {% else %}
              <li><a href="{% url 'portal:login'  %}">Signin</a></li>
            {% endif %}
          </ul>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>({{ request.user.first_name }} {{ request.user.last_name }}) </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


      <div class="starter-template">
        <h1>Attack Club2 </br>Deployment portal.</h1>
      </div>
    </div><!-- /.container -->

      <div class="starter-template">
        {% block body %}
        {% endblock %}
      </div>
    </div><!-- /.container -->


    <footer>
      <div class="starter-template">
        <p><small>Copyright &copy; 2017 Noneck giraffe All Rights Reserved.</small></p>
      </div>
    </footer> 
  </body>
</html>
